* {
    box-sizing: border-box;
}
.App {
    display: grid;
    grid-template-columns: 200px auto;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.contactList {
    width: 100%;
    margin: 8px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contactList > div {
    cursor: pointer;
}

label {
    max-width: 400px;
}

input, textarea {
    width: 100%;
    margin: 0 8px;
}

p {
    margin: 0;
}

e {
    font-style: italic;
}

.contactDetails button {
    margin: 10px 5px;
}