.App {
    width: 800px;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    font-size: 20pt;
    margin-bottom: 10px;
}
.menu button {
    width: 100px;
}

.board {
    height: 800px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.board div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200px;
}