.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea, input, button {
    margin: 5px;
}

textarea {
    width: 400px;
    height: 100px;
}

input {
}

button {
}